    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        line-height: 1.6;
        background-color: #ffeaf4;
    }

    .container {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
    }

    header {
        display: flex;
        background-color: #ff3c9b;
        height: 125px;
        text-align: center;
    }

    header h1 {
        text-align: center;
        font-size: 38px;
        margin-bottom: 15px;
        color: white;
    }

    nav ul {
        list-style: none;
        text-align: center;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
        font-weight: bold;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    nav ul li a:hover {
        font-weight: bold;
        text-decoration: underline;
        color: #ffcde5;
    }

    section.pacotes {
        padding: 90px 10%;
        background-color: #ffeaf4;
        text-align: center;
    }

    section.pacotes h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 36px;
        color: #ff2f93;
        margin-bottom: 20px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 1000px;
        height: 530px;
    }

    .card {
        background: #ffeaf4;
        overflow: hidden;
        position: relative;
    }

    .card-body {
        padding: 25px;
        text-align: left;
    }

    .card-body h4 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        color: #ff3496;
        text-align: left;
        margin-bottom: 10px;
    }

    .quadrado {
        background-color: #ffeaf4;
        width: 100%;
        height: 270px;
    }

    .texto {
        margin-left: 120px;
        border-radius: 30px;
        background-color: #ffeaf4;
        width: 80%;
        height: 200px;
        transform: translateY(-8px);
        box-shadow: 0 12px 32px #ff77b9;
    }

    .texto h2 {
        text-align: center;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #ff3496;
    }

    .p_texto {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 60px;
        margin-right: 60px;
    }

    footer {
        background-color: #ff3c9b;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
    }